export PUBLISHABLE_KEY=pk_test_m3kEfDWERg2qNxwlikeKzeEI
export PASTEBIN_DEV_KEY=00a4bfc1644406be10fc249e6d0bca3e
export MERCHANT_ID=merchant.com.tipsi.applepaytest
export IMGUR_CLIENT_ID=ca750874eabc7c4
export ANDROID_NDK_HOME=/opt/android-ndk
